<div class="home-top-wrapper">
  <section>
    <div class="home-top-brand-wrapper">
      <h1>SYRUBY</h1>
    </div>
    <%= render 'parts/scroll' %>
  </section>

  <section>
    <div class="home-top-about-wrapper">
      <h1>What's SYRUBY</h1>
      <div class="container text-center">
        <p>
          SYRUBYは日本語のテキストを入力したら、それをルビに直したテキストを出力するアプリです。<br>
          ルビ（英語: ruby）は、文章内の任意の文字に対し ふりがな／説明／異なる読み方 といった<br>
          役割の文字をより小さな文字で、通常縦書きの際は文字の右側／横書きの際は文字の上側に記されるものです。
        </p>
      </div>
      <div class="home-top-app-capture">
        キャプチャーがはいる
      </div>
    </div>
    <%= render 'parts/scroll' %>
  </section>

  <section>
    <div class="home-top-developer-wapper">
      <h1>Creator</h1>
      <div class="container">
        <div class="home-top-developer clearfix">
          <%= image_tag 'home/top/dj-hirrot.jpg' %>
          <div class="home-top-developer-info">
            <h2>dj-hirrot</h2>
            <p>
              大学在学中やりたいことが全然見つからず、とりあえず社会に出てから考えようということで勝手に就職活動をはじめ、西東京にある私大を中退。<br>
              エンジニアという職業と出会い、以降それを生業とする。東京カレンダー ITビジネス推進本部に在籍。<br>
              ちなみに実家は小鳥屋です.
            </p>
          </div>
        </div>
        <div class="home-top-developer-sns">
          <p class="home-top-follow-me">\ Follow Me! /</p>
          <div class="home-top-sns-icons">
            <a target="_blank" href="https://github.com/dj-hirrot"><i class="fab fa-github-square"></i></a>
            <a target="_blank" href="https://twitter.com/bintro_1"><i class="fab fa-twitter-square"></i></a>
            <a target="_blank" href="https://www.facebook.com/hiroto.shibutani"><i class="fab fa-facebook-square"></i></a>
          </div>
        </div>
        <div class="home-top-footer-wrapper d-none d-md-block">
          <div class="container">
            <h3>Hiroto Shibutani.</h3>
            <p>
              神奈川県出身の25歳です.<br>
              普段はWebフロントエンド / バックエンド開発, iOSアプリ開発, またそれに伴うAPI設計・開発をしています.<br>
              綺麗事に思われるかもしれませんが, 身につけた技術を使って役に立つものを作りたい,<br>
              そしてそれが誰かの役に立ってくれたらもっともっと嬉しい. そんなことを真剣に考えながら開発をしています.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
