/*
 *= require_tree .
 *= require_self
 */
$black: #1F262A;
$dark-gray: #2A3439;
$gray: #ECF0F1;
$white: #FFFFFF;

@import "bootstrap";
@import "animations";
@import "home";
/*****************************************
 * kollek
 *****************************************/
@font-face {
  font-family: 'kollek';
  src: font-url('Kollektif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kollek-bold';
  src: font-url('Kollektif-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kollek-italic';
  src: font-url('Kollektif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kollek-bolditalic';
  src: font-url('Kollektif-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*****************************************
 * hack
 *****************************************/
@font-face {
  font-family: 'hack';
  src: font-url('Hack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hack-bold';
  src: font-url('Hack-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hack-italic';
  src: font-url('Hack-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hack-bolditalic';
  src: font-url('Hack-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $gray;
}
